body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
h1{
    text-decoration-line: underline;
    text-decoration-color:red;
    text-decoration-style: dotted;
}
p{
    text-decoration: underline black solid;
}
b{
    text-shadow: 2px 2px 8px blue;
    /*  h-offset
        v-offset
        blur
        color */
}
.box{
    width: 400px;
    line-height: 30px;
    writing-mode: vertical-rl;
}
.b1{
    white-space: nowrap;
    /* pre  */
}
h3{
    width: 400px;
    border: 2px solid red;
    word-wrap: break-word;
}