body{
    background-color: rgb(100,100,100);
}
.temp{
    width: 900px;
    height: 600px;
    margin: 10px auto 0px auto;
    border: 10px solid #000;
    color: #000;
    background-image: url("./images/sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    font-size: 30px;
    background-attachment: scroll;
    /* bg image in box bg-attachment : scroll,fixed,local(by deafault) */
}
h1,p{
    margin: 10px 15px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}