*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./images/sea.jpg"),linear-gradient(red,green,blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}