body{
    background-image: url(temp/mahadev.jpg);
    background-size: cover;
}
.box{  
    width: 800px;
    height: 500px; 
    margin: 10px auto;
    border: 10px solid #fff;
    background-color: rgba(255,255,255,.25);
    background-image: linear-gradient(to left, red,blue,orange,yellow);
    /* multiple color mix up and multiple direction */
}
h1,p{
    margin: 10px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 20px;
}
p{
    font-size: 30px;
    margin-top: 30px;
}