body{
    background-image: url(temp/mahadev.jpg);
    background-size: cover;
}
.box{  
    width: 1800px;
    height: 1500px; 
    margin: 100px auto 0px;
    border: 10px solid #fff;
    background-color: rgba(255,255,255,.25);
    background-image: linear-gradient(to left,red,blue,orange,yellow);
    /* multiple color mix up and multiple direction */
}
h1,p{
    margin: 150px 150px 0px 150px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 200px;
}
p{
    font-size: 70px;
    margin-top: 30px;
}