body{
    background-image: url("temp/lap.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    width: 1800px;
    height: 1500px;
    margin: 100px auto 0px;
    border: 10px solid #fff;
    background-color: hsla(0, 0%, 100%, 0.25);
    background-image: repeating-linear-gradient(red,green 30%,yellow 10%);
}
h1,p{
    margin: 150px 150px 0px 150px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    font-size: 100px;
}
p{
    font-size: 60px;
    margin-top: 30px;
}