*{
    margin: 0;
    padding: 0;
}
.box{
    width: 700px ;
    margin: 50px auto;
    padding: 20px;
    text-transform: capitalize;
    background-image: repeating-radial-gradient(red,green 10%,blue 20%);
}
h1{
    padding: 20px 0px;
}
