body{
    background-color:white;
    /* predefine color name*/
}
h1{
    color:rgb(122, 122, 255);
    /* rgb - mix color using red green blue */
    background-color: rgba(255,0,0,.2);
    /* rgba - mix color using red green blue alpha(0.0 to 1.0)
       0.0(fully transparent) 1.0(non transparent)  */
}
h2{
    color: hsl(10,100%,50%);
    /* hsl - hue(degree color 0 is red,120 green,240 blue)
       saturation(percentage 0% gray shade and 100% full of color)
       lightness(percentage 0% black 50% neither light or dark 100% full color)  */
    background-color: hsla(21, 77%, 23%,.3);
}
p{
    background-color: #3e3e3e;
    /* hexadecimal code */
}