/* ( :: - known pseudo element selector) */
h1::before{
    content: url('eye.png');
}
h1::after{
    content: url('eye.png');
}
p::first-letter{
    color: brown;
    text-transform: capitalize;
    font-size: xx-large;
}
p::first-line{
    color: blue;
}
::marker{
    color: blue;
}
::selection{
    color: red;
    background-color: yellow;
}
:root{
    --bgcolor:blue;
}
h2:hover{
    background-color: var(--bgcolor);
}
h3:hover{
    background-color: var(--bgcolor);
}
h4:hover{
    background-color: var(--bgcolor);
}