body{
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li{
    list-style-type: gujarati;
    list-style-position: inside;
}
div.para{
    border: 5px solid red;
    font-weight: bolder;
}
div.article{
    border: 5px solid blue;
    font-weight: bolder;
}
div.container{
    font-weight: bolder;
}
li:first-child{
    color: blue;
    font-weight: bold;
}
li:last-child{
    color: green;
    font-size: larger;
}
li:nth-child(3){
    /* nth-child(odd(2n+1) or even(2n),) */
    color: blueviolet;
    font-weight: bolder;
}
li:nth-last-child(3){
    color: chocolate;
    font-weight: bold ;
}
div.container p:first-of-type{
    color: darkblue;
}
div.container p:last-of-type{
    color: darkred;
}
div.container article:nth-of-type(3){
    color: deeppink;
}
div.container article:nth-last-of-type(4){
    color: teal;
}
div.container :only-child{
    color: wheat;
    background-color: blue;
}
div.para :only-of-type{
    color: darkorange;
}
div.article :empty{
    color: white;
    background-color: black;
    width: 200px;
    height: 30px;
}
div.para3 :not(p){
    color: darkturquoise;
}