.border{
    width: 550px;
    margin: 100px auto;
    border-width: 10px 10px;
    border-color: red green blue orange ;
    border-style: groove;
}
.border h1,p{
    margin: 20px;
    padding: 10px 0px;
}
h1{
    font-size: 50px;
    font-weight: 90px;
    -webkit-text-stroke: 4px black;
    color: transparent;
}