*{
    margin: 0;
    padding: 0;
}
.main{
    margin: 50px;
    width: 1000px;
    float: left;
    outline: 4px solid rebeccapurple;
    outline-offset: -4px;
}
.main img,p{
    width: 250px;
    height: 250px;
    float: left;
}
    
