body{
    text-transform: capitalize;
}
h3{
    width: 20vw;
    height: 5vh;
    border: 2px solid;
}
h3:hover{
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.c1{
    cursor: alias;
}
.c2{
    cursor: context-menu;
}
.c3{
    cursor: default;
}
.c4{
    cursor: grabbing;
}
.c5{
    cursor: ne-resize;
}
.c6{
    cursor: nwse-resize;
}
.c7{
    cursor: pointer;
}
.c8{
    cursor: se-resize;
}
.c9{
    cursor: w-resize;
}
.c10{
    cursor: all-scroll;
}
.c11{
    cursor: col-resize;
}
.c12{
    cursor: e-resize;
}
.c13{
    cursor: help;
}
.c14{
    cursor: nesw-resize;
}
.c15{
    cursor: no-drop;
}
.c16{
    cursor: progress;
}
.c17{
    cursor: sw-resize;
}
.c18{
    cursor: wait;
}
.c19{
    cursor: auto;
}
.c20{
    cursor: copy;
}
.c21{
    cursor: ew-resize;
}
.c22{
    cursor: move;
}
.c23{
    cursor: ns-resize;
}
.c24{
    cursor: none;
}
.c25{
    cursor: row-resize;
}
.c26{
    cursor: text;
}
.c27{
    cursor: zoom-in;
}
.c28{
    cursor: zoom-out;
}
.c29{
    cursor: cell;
}
.c30{
    cursor: crosshair;
}
.c31{
    cursor: grab;
}
.c32{
    cursor: n-resize;
}
.c33{
    cursor: nw-resize;
}
.c34{
    cursor: not-allowed;
}
.c35{
    cursor: s-resize;
}
.c36{
    cursor: url(./IMG_4122.JPG),pointer;
    width: 100px;
    height: 100px;
}